.challenge-list {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.challenge-list__item {
  display: flex;
  flex-flow: row wrap;
  margin: 10px 15px;
  padding: 10px;
  background-color: #ffffff;
  box-shadow: 0 4px 6px -1px black;
  border-radius: 5px;
}

.challenge-list__title {
  margin: 0;
}

.challenge-list__tags {
  display: flex;
  flex-flow: row wrap;
  list-style: none;
  width: 100%;
  padding: 0;
  margin: 0;
}

.challenge-list__tag {
  background-color: #f2f2f2;
  color: black;
  margin: 5px 10px 0 0;
  padding: 7px;
  border-radius: 5px;
}

.challenge-list__options {
  display: block;
  width: 100%;
  color: black;
}

.challenge-list__link {
  display: block;
  width: 100%;
  padding: 10px 0;
  border-radius: 5px;
  background-color: #f2f2f2;
  color: black;
  border: none;
  text-decoration: none;
  text-align: center;
  margin: 10px 0;
}

.challenge-list__link:hover {
  cursor: pointer;
  background-color: #b6b5b5;
}

@media only screen and (min-width: 600px) {
  .challenge-list {
    flex: 1 0 auto;
    width: auto;
  }

  .challenge-list__item {
    flex-flow: row nowrap;
  }

  .challenge-list__details {
    width: 80%;
  }

  .challenge-list__options {
    width: 20%;
  }
}
