.page-header {
  position: relative;
}

.header__right {
  position: absolute;
  width: 60px;
  height: 100%;
  right: 0;
}

.menu {
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.menu__img {
  height: 50px;
  border-radius: 50%;
}

.menu__img--toggle:hover {
  cursor: pointer;
}

.menu--collasped .menu__content {
  display: none;
}

.menu--collasped .menu__content--active {
  display: block;
  position: absolute;
  z-index: 1;
  top: 70px;
  right: 10px;
  width: 200px;
  border-radius: 10px;
  background-color: #212121;
}

.menu__nav {
  width: 100%;
  margin: 1em 0;
}

.menu__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu__item {
  width: 100%;
  text-align: center;
}

.menu__link {
  display: block;
  padding: 0.5em;
  border: none;
  background-color: transparent;
  color: white;
  width: 100%;
  text-decoration: none;
}

.menu__dividor {
  margin-left: 15px;
  margin-right: 15px;
}

.menu__link:hover {
  cursor: pointer;
  background-color: rgb(21, 24, 28);
}
