{
  "env": {
    "node": true,
    "es6": true,
    "jest": true
  },
  "extends": ["airbnb-base", "prettier"],
  "plugins": ["import"],
  "parser": "babel-eslint",
  "rules": {
    "no-unused-vars": "warn",
    "comma-dangle": 0,
    "consistent-return": "warn"
  }
}
