.challenge {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  height: 100%;
  position: relative;
}

.challenge__header {
  width: 100%;
  text-align: center;
  flex: 0 1 auto;
}

.challenge__heading {
  margin: 0;
}

.challenge__nav {
  width: 100%;
}

.challenge__list {
  margin: 0;
  padding: 0;
}

.challenge__output {
}

.challenge__item {
}

.challenge__prompt {
  padding: 0 1em;
}

.challenge__content {
  display: flex;
  flex-flow: row nowrap;
  flex: 0 1 auto;
  width: 100%;
}

.challenge__details {
  width: 100%;
  background-color: #262729;
  color: white;
  margin: 5px 0;
}

.challenge__tools {
  display: flex;
  flex-flow: row nowrap;
  flex: 1 0 auto;
}

.challenge__editor {
  flex: 1 0 auto;
}

.challenge__options {
  width: 100%;
  flex: 0 1 auto;
}

.challenge__invite {
  position: relative;
  width: auto;
  background-color: white;
  padding: 2em;
  border-radius: 3px;
}

.challenge__invite-link {
  border: 1px solid black;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 5px;
}

@media only screen and (min-width: 600px) {
  .challenge {
    flex-flow: row wrap;
  }

  .challenge__header {
    width: 100%;
    flex: 1 0 auto;
  }

  .challenge__details {
    width: 200px;
    flex: 0 1 auto;
    margin: 5px;
  }
}
