.chat {
  display: none;
  z-index: 2;
  background-color: #fafafa;
}

.chat--aside {
  display: flex;
  flex-flow: column nowrap;
  flex: 1 0 auto;
  position: absolute;
  width: 200px;
  right: 0;
  top: 0;
}

.chat--hidden {
  display: block;
  position: absolute;
  background-color: transparent;
  width: 30px;
  height: 30px;
  bottom: 15px;
  right: 15px;
}

.chat__icon {
}

.chat__icon:hover {
  cursor: pointer;
  color: blue;
}

.chat__header {
  display: flex;
  flex-flow: row nowrap;
  position: relative;
  align-items: center;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.chat__heading {
  height: 100%;
  flex: 1 0 auto;
  text-align: left;
  margin: 0;
}

.chat__settings {
  display: none;
  position: absolute;
  border-radius: 5px;
  padding: 10px;
  right: 10px;
  background-color: white;
  z-index: 3;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
}

.chat__settings--active {
  display: block;
}

.chat__messages {
  width: 100%;
  margin: 0;
  height: 1px;
  padding: 0 0.5em;
  flex: 1 1 auto;
  overflow: auto;
}

/* Chat Message styles */
.message {
  display: block;
  position: relative;
  flex: 0 1 auto;
  list-style: none;
  color: black;
  margin: 0.5em 0 0 0;
}

.message-notification {
  color: gray;
  text-align: center;
}

/* Message sent by client (Right) */
.message-client {
  text-align: right;
}

/* Message sent by server (Left) */
.message-server {
  text-align: left;
}

.message-client__content {
  display: inline-block;
  max-width: 80%;
  padding: 10px;
  margin: 0;
  border-radius: 10px;
  -ms-word-break: break-all;
  word-break: break-word;
  background-color: white;
}

.message-server__content {
  display: inline-block;
  max-width: 80%;
  padding: 10px;
  border-radius: 10px;
  margin: 0;
  -ms-word-break: break-all;
  word-break: break-word;
  background-color: blue;
}

.message-notification__content {
  display: inline-block;
}

.content__text {
  margin: 0;
  padding: 0;
  text-align: left;
}

.chat__input {
  width: 100%;
  height: 80px;
  flex: 0 0 auto;
}

.input__text {
  display: inline-block;
  resize: none;
  height: 100%;
  width: 100%;
}

.input__submit {
  display: inline-block;
  vertical-align: top;
  height: 100%;
  width: 20px;
}

@media only screen and (min-width: 600px) {
  .chat--aside {
    position: relative;
    width: 200px;
    flex: 0 1 auto;
  }

  .chat--detach {
    display: flex;
    flex-flow: column nowrap;
    flex: 1 0 auto;
    position: absolute;
    height: 300px;
    right: 10px;
    bottom: 0;
  }
}
