.settings {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 1em 0 0 0;
}

.settings__aside {
  display: none;
  background-color: #ffffff;
  border: 1px solid #c8cdd2;
  box-shadow: 2px 2px 3px 0 rgba(117, 124, 129, 0.12);
  border-right: none; /* Prevent double border */
}

.settings--inactive .settings__aside {
  display: block;
  width: 100%;
  max-width: 600px;
  margin: 0 1em;
}

.settings__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.settings__item {
  text-align: center;
}

.settings__link {
  display: block;
  width: 100%;
  padding: 1em;
  color: black;
  text-decoration: none;
}

.settings__link:hover {
  background-color: #f0f0f0;
}

.settings__link--active {
  background-color: #d7d7d7;
  border-left: 3px solid #000000;
  width: 100%;
}

.settings__content {
  max-width: 600px;
  flex: 1 0 auto;
}

.settings--inactive .settings__content {
  display: none;
}

.settings__form {
  width: 100%;
  padding: 0 10px;
  background-color: #ffffff;
  border: 1px solid #c8cdd2;
  box-shadow: 2px 2px 3px 0 rgba(117, 124, 129, 0.12);
}

.settings__notification {
  margin: 0;
}

.settings__error {
  display: block;
  margin: 10px auto;
  padding: 13px;
  font-size: 1.2em;
  background-color: #f04546;
  color: white;
  border-radius: 5px;
}

.settings__field {
  border: none;
  margin: 30px 0;
  width: 100%;
}

.settings__label {
}

.settings__image {
  display: block;
  width: 100px;
  border-radius: 50%;
  margin: 0 auto;
  background-color: #202020;
}

.settings__image:hover {
  cursor: pointer;
  opacity: 0.2;
}

.settings__title {
  display: block;
}
.settings__title--center {
  text-align: center;
}

.settings__input {
  display: block;
  width: 80%;
  margin: 10px auto;
  padding: 10px;
  border: 1px solid grey;
  border-radius: 5px;
}

.settings__input--file {
  display: none;
}

.settings__input--text {
  width: 90%;
  margin: 10px auto;
  padding: 10px;
  border: 1px solid grey;
  border-radius: 5px;
  outline: none;
}

.settings__input--error {
  border-color: red;
}

.settings__input--textarea {
  resize: vertical;
}

.settings__input--text:focus {
  box-shadow: 0 0 0 3px #02b3e4;
}

@media only screen and (min-width: 600px) {
  .settings__aside {
    display: block;
    width: 200px;
  }

  .settings--inactive .settings__aside {
    max-width: 600px;
    margin: 0 auto;
  }
}
