.signup-form {
  display: block;
  width: 80%;
  margin: 1.3em auto 0 auto;
  padding: 1.3em 0 1.3em 0;
  text-align: center;
  background-color: #262729;
}

.signup-form__fieldset {
  margin: 0;
  border: 0;
  padding: 0;
}

.signup-form__field {
  margin: 0 0 1.1em 0;
}

.signup-form__field input {
  width: 90%;
  height: 50px;
  border: none;
  border-radius: 4px;
  padding: 0 0 0 1.1em;
  background-color: #222325;
  color: white;
}

.signup-form__field input:hover,
.signup-form__field input:focus {
  background-color: #131414;
}

.signup-form__field span {
  color: white;
}
